@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

:root {
  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);
  /*## Neutral*/
  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
  overflow-y: scroll;
  background-image: url("images/bg-pattern-top-desktop.svg"),url("images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat, no-repeat;
  background-attachment:fixed, fixed;
  background-size:contain, contain;
  background-color: var(--White);
  font-size: 15px;
  font-family: "League Spartan",sans-serif;
}

body::-webkit-scrollbar{
  display: none;
}

#container{
  margin-top: 4rem;
}

.upper-part{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-left: 10rem;
}


.title{
  text-align: left;
}

.title h1{
  color: var(--VeryDarkMagenta);
  font-size: 3rem;
  margin: 0;
  line-height: 2.8rem;
  margin-bottom: 1rem;
}

.title p{
  color:var(--DarkGrayishMagenta);
  line-height: 1.5rem;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 3rem;
}


.review, 
.guru, 
.tech{
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--LightGrayishMagenta);
  border-radius: 10px;
  padding: 6px;
  height: fit-content;
  width: 70%;
  gap: 20px;
}

.review{
  margin-bottom:1.3rem;
}

.guru{
  margin-top: 0;
  margin-bottom:1.3rem;
  margin-left: 2rem;
}

.tech{
  margin-top: 0;
  margin-left: 4rem;
}

.rating-content p{
  color: var(--VeryDarkMagenta);
  font-weight:700;
  font-size: 15px;
  padding: 8px;
}

.stars img{
  height: auto;
  padding: 5px;
  gap: 8px;
}

#customer-ratings{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  margin-bottom: 5rem;
}

.customer-1,
.customer-2,
.customer-3{
  background-color:var(--VeryDarkMagenta);
  border-radius: 5px;
  padding: 1.8rem;
  height: fit-content;
  width:85%;
}


#customer-ratings img{
  background-repeat: no-repeat;
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-bottom: .7rem;
}

.cus-info{
  line-height: 20px;
  display: flex;
}

.info{
  flex-direction:column;
  justify-content: center;
  padding-left: 20px;
}

.name{
  color: var(--White);
  font-size: 14px;
  font-weight: 700;
}

.pink{
  color: var(--SoftPink);
  font-size: 15px;
  font-weight: 400;
}

.feedback p{
  color: var(--LightGrayishMagenta);
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 15px;
}

.attribution {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  margin:0 0 1.7rem 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


.customer-1{
  margin-left: 1.5rem;
}

.customer-2 {
  margin-top: 1rem;
}
.customer-3 {
  margin-top: 2rem;
}

.customer-1:hover{
  transition: all .3s;
  transform: translateY(-10px);
  transform: scale(1.1);

}
.customer-2:hover{
  transition:all .3s;
  transform: translateY(-15px);
  transform: scale(1.1);
}
.customer-3:hover{
  transition: all .3s;
  transform: translateY(-20px);
  transform: scale(1.1);
}

@media only screen and (max-width:760px) {
  #container{
    margin-top: 2rem;
  }
  .upper-part{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-left: 0;
  }

  .title{
    text-align: center;
  }

  .ratings{
    align-items: center;
    margin-left: 3rem;
  }

  .review, 
  .guru, 
  .tech{
    background-color: var(--LightGrayishMagenta);
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 6px;
    height: fit-content;
    text-align: center;
    width: 90%;
  }
  
  .review{
    margin-bottom:1.2rem;
  }
  
  .guru{
    margin-left: 0;
    margin-top: 0;
    margin-bottom:1.2rem;
  }
  
  .tech{
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 3rem;
  }

  .rating-content p{
    padding: 0;
    align-items: center;
    text-align: center;
    padding-bottom: .5rem;
  }
  .stars {
    display: flex;
    padding-top: .5rem;
  }
  
  .stars img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  #customer-ratings{
    display:grid;
    grid-template-columns: repeat(1,1fr);
  }

  .customer-1{
    margin-left: 2rem;
  }

  .customer-2{
    margin-left: 2rem;
  }

  .customer-3{
    margin-left: 2rem;
  }
  
}

@media only screen and (max-width:400px) {
  body{
    overflow: hidden;
  }
  #container{
    margin-top: 2rem;
  }
  .upper-part{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-left: 0;
  }

  .title{
    text-align: center;
  }

  .ratings{
    align-items: center;
    margin-left: 3rem;
  }

  .review, 
  .guru, 
  .tech{
    background-color: var(--LightGrayishMagenta);
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 6px;
    height: fit-content;
    text-align: center;
    width: 90%;
  }
  
  .review{
    margin-bottom:1.2rem;
  }
  
  .guru{
    margin-left: 0;
    margin-top: 0;
    margin-bottom:1.2rem;
  }
  
  .tech{
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 3rem;
  }

  .rating-content p{
    padding: 0;
    align-items: center;
    text-align: center;
    padding-bottom: .5rem;
  }
  .stars {
    display: flex;
    padding-top: .5rem;
  }
  
  .stars img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  #customer-ratings{
    display:grid;
    grid-template-columns: repeat(1,1fr);
  }

  .customer-1{
    margin-left: 2rem;
  }

  .customer-2{
    margin-left: 2rem;
  }

  .customer-3{
    margin-left: 2rem;
  }
  
}












